$gold: #c6993d;
$white-text: rgba(255,255,255,0.85);
$white-text2: rgba(255,255,255,0.70);
$white-text3: rgba(255,255,255,0.55);
$white-text4: rgba(255,255,255,0.40);
$white-text5: rgba(255,255,255,0.25);
